.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding: 20px 0;
  border-bottom: 20px solid lightblue;


  &__logo {
    width: 40%;
    cursor: pointer;

    &__img {
      width: 30%;
    }

    &__title {
      display: inline-block;
      width: 60%;
      margin: 15px;
      color: #c18be0;
      font-weight: bold;
      font-size: 2em;
      line-height: 1.3em;
      vertical-align: top;
    }
  }



  &__info {
    text-align: right;
  }
}